@tailwind base;
@tailwind components;
@tailwind utilities;

/* D3 link */
.link {
  stroke: #999;
  stroke-width: 2px;
}

.diffClass {
  position: sticky;
  top: 0px;
  overflow: scroll;
}

.custom-width {
  width: 580px;
}